<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
  
</head>
<body>


            <section class="main">
                <div class="post">
                    <div class="post-header index">
                        <h1 class="title">Lorem ipsum dolor</h1>
                        <div class="post-info">
                            <span class="date">June 24, 2016</span>
                            <span class="comments">3 Comments</span>
                            <span class="category"><a>DEVELOPMENT</a></span>
                        </div>
                    </div>
                    <div class="content"><p>Lorem ipsum dolor <a>sit amet</a>, consectetur adipisicing elit. Consequatur
                        deleniti error, fuga harum iusto minima possimus praesentium repellendus unde voluptate.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta ea fugiat ipsam
                            laboriosam magnam nemo quae sint temporibus. Explicabo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. <a>A adipisci, amet</a>, at autem corporis cumque doloremque
                            error eveniet fugit, libero natus reprehenderit sapiente totam ullam voluptate! Assumenda
                            eos tempora temporibus!</p>
                    </div>
                    <a class="read-more">Read More</a>
                </div>
                <div class="post">
                    <div class="post-header index"><h1 class="title">Assumenda eos tempora</h1>
                        <div class="post-info">
                            <span class="date">August 4, 2015</span>
                            <span class="comments">6 Comments</span>
                            <span class="category"><a>DEVELOPMENT</a></span>
                        </div>
                    </div>
                    <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
                        deleniti error, fuga harum iusto minima possimus praesentium repellendus unde voluptate. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Dolorem porro sed temporibus?</p>
                        <p>Lorem ipsum dolor sit amet, <a>consectetur adipisicing elit.</a> Consequatur dicta ea fugiat
                            ipsam laboriosam magnam nemo quae sint temporibus. Explicabo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. A adipisci, amet, at autem corporis cumque doloremque error
                            eveniet fugit, libero natus reprehenderit sapiente totam ullam voluptate! Assumenda eos
                            tempora temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                            molestiae!</p>
                    </div>
                    <a class="read-more">Read More</a>
                </div>
                <div class="post">
                    <div class="post-header index"><h1 class="title">A adipisci, amet</h1>
                        <div class="post-info">
                            <span class="date">December 10, 2014</span>
                            <span class="comments">2 Comments</span>
                            <span class="category"><a>DEVELOPMENT</a></span>
                        </div>
                    </div>
                    <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
                        deleniti error, fuga harum iusto minima possimus praesentium repellendus unde voluptate.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta ea fugiat ipsam
                            laboriosam magnam nemo quae sint temporibus. Explicabo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. A adipisci, amet, at autem corporis cumque doloremque error
                            eveniet fugit, libero natus reprehenderit sapiente totam ullam voluptate! Assumenda eos
                            tempora temporibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi
                            beatae culpa distinctio, enim est exercitationem expedita fugit laudantium maiores molestias
                            nam nisi reprehenderit unde.</p>
                    </div>
                    <a class="read-more">Read More</a>
                </div>
                <div class="post">
                    <div class="post-header index"><h1 class="title">Lorem ipsum dolor sit.</h1>
                        <div class="post-info">
                            <span class="date">October 24, 2014</span>
                            <span class="comments">9 Comments</span>
                            <span class="category"><a>DEVELOPMENT</a></span>
                        </div>
                    </div>
                    <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
                        deleniti error, fuga harum iusto minima possimus praesentium repellendus unde voluptate.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta ea fugiat ipsam
                            laboriosam magnam nemo quae sint temporibus. Explicabo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. A adipisci, amet, at autem corporis cumque doloremque error
                            eveniet fugit, libero natus reprehenderit sapiente totam ullam voluptate! Assumenda eos
                            tempora temporibus!</p>
                    </div>
                    <a class="read-more">Read More</a>
                </div>
            </section>
     
    <div class="row">
        <div class="col-sm-12">
            <div class="wrap-pagination">

            </div>
        </div>
    </div>




<footer class="footer-content">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-about">
                <h2>About</h2>
                <p>
                    This theme was developed by <a href="https://github.com/klugjo">Jonathan Klughertz</a>. The source
                    code is available on Github. Feel free to participate in improving it. Hope you find it fun and find
                    a use for it. Enjoy :)
                </p>
            </div>

</footer>


</body>
</html>